.carousel-inner > .item > img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.carousel-inner > .item {
  height: 500px;
}

.carousel-control {
  color: black;
  opacity: 40%;
}
.carousel-control:hover {
  color: black;
  opacity: 90%;
}

.carousel-control.left {
  background: transparent;
}

.carousel-control.right {
  background: transparent;
}

.carousel.slide  {
  margin-top: 1em;
  margin-bottom: 1.5em;

}