<ul class="posts">
    {% for offer in offers %}
    <li class="post">
        <div class="offer-thumbnail">
            <a href="{{ url_for('offer.offer', id=offer.id) }}">
                <img class="img-rounded profile-thumbnail" src="{{ url_for('offer.thumbnail', id=offer.id) }}">
            </a>
        </div>
        <div class="offer-content">
            <div class="offer-title"><a href="{{ url_for('offer.offer', id=offer.id) }}">
                    {{ offer.title }}
                </a></div>
            <div class="offer-date">{{ moment(offer.timestamp).fromNow() }}</div>
            <div class="offer-body">{{ offer.body }}</div>
            <div class="offer-author">
                <p>Posted by: <a href="{{ url_for('user.user', username=offer.author.username) }}">
                        {{ offer.author.username }}
                    </a></p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>